.six66Color{
    color:#666;
}
.headerCartMaxHeight{
    max-height:250px;
}
.whiteCol{
    color:white
}
.hndrth{
    width:100%;
}
.contactMap
{
    border:0;
    border-radius:10px;
    box-shadow:0px 5px 10px -5px rgba(0,0,0,0.2)
}
.oneTen{
    width:110px;
}
